//Red
$main:#090B10;
$text:#B90B0B;
$text2:white;
$bannerText:#B90B0B;
$bannerBackGround:#090B10;
$menuBar:#B90B0B;
$menuButton:#090B10;
$menuText:white;
$menuTextH:white;
//  White
// $main:white;
// $text:#B90B0B;
// $text2:white;
// $bannerText:#B90B0B;
// $bannerBackGround:#090B10;
// $menuBar:white;
// $menuButton:#090B10;
// $menuText:#B90B0B;
// $menuTextH:black;