@import './Styles/palette.scss';
body {
    // background: $menuBar;
    background: linear-gradient(135deg, #3f0b0e 0%, #880b0c 100%);
    overflow-x: hidden;
}

section {
    background: $main;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: $text;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $main;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgba($main, 0.5);
}

// .App {
//   text-align: center;
// }
// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }
// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }
// .App-link {
//   color: #61dafb;
// }
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }